In [17]:
import pickle
from bs4 import BeautifulSoup
import requests
from selenium import webdriver
import time
import random
import pandas as pd
import re


filename = 'Norfolk2_match_facts'

with open(f'{filename}.txt', 'rb') as handle:
    dictmatches = pickle.loads(handle.read())

dictteamscorers = {}

lstteams = dictmatches['teams']

for team in lstteams:
    dictteamscorers[team] = []
    
for match in dictmatches['index']:
    dfmatch2 = dictmatches[match]
    
    lstgoalseach = []

    #work in columns 4 and 5 - scorer columns - make two new dfs
    for x in [5,6]:
        #count up goals using groupby and add to list of each team's scorers
        team = dfmatch2.columns[x].replace("_scorers", "")
        dfgoalseach = dfmatch2.groupby(dfmatch2.columns[x]).index.count().reset_index().rename(columns = {'index': 'goals', f'{team}_scorers':team})
        dictteamscorers[team].append(dfgoalseach)            
        
with open('Norfolk2_goals.txt', 'wb') as handle:
  pickle.dump(dictteamscorers, handle)

In [19]:
display (dictteamscorers['Norwich Knights 6'])

[Empty DataFrame
 Columns: [Norwich Knights 6, goals]
 Index: [], Empty DataFrame
 Columns: [Norwich Knights 6, goals]
 Index: [], Empty DataFrame
 Columns: [Norwich Knights 6, goals]
 Index: [], Empty DataFrame
 Columns: [Norwich Knights 6, goals]
 Index: [], Empty DataFrame
 Columns: [Norwich Knights 6, goals]
 Index: [], Empty DataFrame
 Columns: [Norwich Knights 6, goals]
 Index: [], Empty DataFrame
 Columns: [Norwich Knights 6, goals]
 Index: [], Empty DataFrame
 Columns: [Norwich Knights 6, goals]
 Index: [], Empty DataFrame
 Columns: [Norwich Knights 6, goals]
 Index: [],   Norwich Knights 6  goals
 0        Amabel Lea      3
 1   Felix Tomlinson      1
 2        Lily Johns      1
 3        Molly Kemm      1,   Norwich Knights 6  goals
 0        Amabel Lea      1
 1   Felix Tomlinson      1
 2        Lily Johns      4
 3        Molly Kemm      1,    Norwich Knights 6  goals
 0         Amabel Lea      1
 1    Felix Tomlinson      3
 2     George Basnett      2
 3      Harvey Cozens      2
 4  Oliver Bloomfield      1,   Norwich Knights 6  goals
 0         Abby Carr      1
 1       Abby Carrfp      1
 2       Chris Adlem      1
 3        Lily Johns      1]

In [21]:
#combine scorers for each club into one df, group & sum to add up all goals scored
dicttopscorers = {}
for team in lstteams:
    dfnew = pd.concat(dictteamscorers[team])
    dfnewest = dfnew.groupby(dfnew.columns[0]).goals.sum().reset_index()
    dfnewest = dfnewest.sort_values(by=['goals'],ascending = False)
    dicttopscorers [team] = dfnewest

with open('Norfolk2_scorers.txt', 'wb') as handle:
  pickle.dump(dicttopscorers, handle)

In [35]:
with open('Norfolk2_scorers.txt', 'rb') as handle:
    dict = pickle.loads(handle.read())
    
dict['Norwich City 4']

        Norwich City 4  goals
2         Alek Spencer     34
5         Danush Karan     34
4            Ben Jones     21
15       Moira Doleman     21
9      Joe Harris Sach     17
0        Adam Williams     11
7       Ellie Arnander     11
19        Tom Cottrell      6
18       Saskia Catlin      4
17        Niamh Reilly      4
8         Guy Mortimer      3
11         Katie Brown      3
14         Maddy Flett      2
10  Joe Harris SachPen      2
12        Laura Reeves      2
1     Adam WilliamsPen      2
20   Victoria Smallman      2
13           Lily Hart      1
16    Moira DolemanPen      1
6       Danush Karanfp      1
3      Alek SpencerPen      1