In [65]:
import pickle
from bs4 import BeautifulSoup
import requests
from selenium import webdriver
import time
import random
import pandas as pd
import re

with open('korf2appearances.txt', 'rb') as handle:
    dictappearances = pickle.loads(handle.read())
with open('korf2scorers.txt', 'rb') as handle:
    dictgoals = pickle.loads(handle.read())
with open ('korf2.txt', 'rb') as handle:
    dictmatches = pickle.loads(handle.read())
    
lstteams = dictmatches['teams']


#print (dictgoals['Tornadoes 2'])
#display (dictgoals['Tornadoes 2'])
#display (dictappearances['Norwich Knights 2'])

In [84]:
dictplayerstats = {}

for team in lstteams:
    dfappearances = dictappearances[team]
    dftopscorers = dictgoals[team]
    dfplayerstats = pd.merge (dfappearances, dftopscorers, how = 'outer')
    #clean up NaNs
    dfplayerstats['goals'].fillna(0, inplace=True)
    #add avge column & sort
    dfplayerstats['avge'] = round(dfplayerstats.goals / dfplayerstats.appearances, 1)
    dfplayerstats.sort_values(by = ['avge'], ascending = False, inplace = True)
    #add to a dictonary
    dictplayerstats[team] = dfplayerstats
dictplayerstats['index'] = lstteams

with open('korf2playerstats.txt', 'wb') as handle:
    pickle.dump(dictplayerstats, handle)

In [85]:
dictplayerstats['Norwich Knights 2']

        Norwich Knights 2  appearances  goals  avge
11         Lawrence Wicks            4   17.0   4.2
10           Mollie Abery            4   14.0   3.5
4            Maeve Turney            8   20.0   2.5
0            Samuel Johns           10   23.0   2.3
3            Alfie Slaney            9   18.0   2.0
14        Charlie Vogwill            2    4.0   2.0
20             Evie Hards            1    2.0   2.0
2             Louis Coles            9   15.0   1.7
1              Jake Tiddy           10   17.0   1.7
6              Julia Cole            7    9.0   1.3
7             Joanna Cook            6    8.0   1.3
21           Emily Cocker            1    1.0   1.0
19             Frank Dunn            1    1.0   1.0
13           Anna Woodall            3    3.0   1.0
9           Kieran Bedson            5    3.0   0.6
5               Bea Cutts            8    4.0   0.5
12         Harriet Clarke            4    2.0   0.5
8   Cassandra Gregoriadis            5    1.0   0.2
15     Madeleine Arnander            2    0.0   0.0
16             Amabel Lea            2    0.0   0.0
17          James Seymour            1    0.0   0.0
18      Franziska Brugger            1    0.0   0.0
22        Alex Daalhuizen            1    0.0   0.0