In [2]:
import pandas as pd
from matplotlib import pyplot as plt

In [3]:
#print more of the dataframe - not really needed in jupyter
#pd.set_option('display.max_columns', 500)
#pd.set_option('display.width', 1000)

In [4]:
#import csv and check
stadia = pd.read_csv('Eng stadia utf.csv')
stadia.to_csv('Eng stadia utf2.csv')

#leading spaces are messing up filtering
stadia = stadia.applymap(lambda x: x.strip() if type(x) is str else x)
stadia.rename({'League_Pos':'Rank_in_league'}, axis = 1, inplace = True)

stadia.info()
stadia.head(15)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147 entries, 0 to 146
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Stadium         147 non-null    object
 1   Town_City       147 non-null    object
 2   Capacity        147 non-null    int64
 3   Club            147 non-null    object
 4   League_Tier     147 non-null    object
 5   Rank_in_league  147 non-null    object
dtypes: int64(1), object(5)
memory usage: 7.0+ KB

,Stadium,Town_City,Capacity,Club,League_Tier,Rank_in_league
0,Wembley Stadium,London,90000,England national football team,National Stadium,
1,Wembley Stadium,London,90000,Tottenham Hotspur,Premier League,3
2,Old Trafford,Manchester,74994,Manchester United,Premier League,1
3,Emirates Stadium,Islington London,60260,Arsenal,Premier League,2
4,London Stadium,London,60000,West Ham United,Premier League,3
5,City of Manchester Stadium,Manchester,55097,Manchester City,Premier League,4
6,Anfield,Liverpool,54074,Liverpool,Premier League,5
7,St James Park,Newcastle upon Tyne,52338,Newcastle United,Premier League,6
8,Stadium of Light,Sunderland,48707,Sunderland,League One,1
9,Villa Park,Birmingham,42660,Aston Villa,Championship,1
10,Stamford Bridge,Chelsea London,41798,Chelsea,Premier League,7
11,Hillsborough Stadium,Sheffield,39732,Sheffield Wednesday,Championship,2
12,Goodison Park,Liverpool,39571,Everton,Premier League,8
13,Elland Road,Leeds,37890,Leeds United,Championship,3
14,Riverside Stadium,Middlesbrough,34988,Middlesbrough,Championship,4

In [5]:
#get stadia with over 20000 capacity
biggest_stadia = stadia[stadia.Capacity > 20000]
biggest_stadia[['Stadium','Capacity']].head(10)

                      Stadium  Capacity
0             Wembley Stadium     90000
1             Wembley Stadium     90000
2                Old Trafford     74994
3            Emirates Stadium     60260
4              London Stadium     60000
5  City of Manchester Stadium     55097
6                     Anfield     54074
7               St James Park     52338
8            Stadium of Light     48707
9                  Villa Park     42660

In [6]:
stadia['League_Tier'].unique()

array(['National Stadium', 'Premier League', 'League One', 'Championship',
       'League Two', 'Womens Super League 1', 'Womens Super League 2',
       'North West Counties Div 1', 'National League',
       'National League North (6)', 'League one',
       'National League South (6)', 'National League North',
       'Northern Premier League',
       'Southern Football League Premier Division(7)',
       'Southern Football League Division One Central (8)',
       'Isthmian League Premier Division (7)',
       'Womens Premier League South', 'Scottish League Two',
       'Womens Super League', 'Welsh Premier League'], dtype=object)

In [50]:
champs = stadia[stadia.League_Tier == 'Championship']
champs[['Stadium', 'Capacity', 'Club', 'League_Pos']].sort_values('Capacity', ascending = False)

,Stadium,Capacity,Club,League_Pos
9,Villa Park,42660,Aston Villa,1
11,Hillsborough Stadium,39732,Sheffield Wednesday,2
13,Elland Road,37890,Leeds United,3
14,Riverside Stadium,34988,Middlesbrough,4
15,Pride Park Stadium,33597,Derby County,5
16,Cardiff City Stadium,33280,Cardiff City,6
17,Bramall Lane,32702,Sheffield United,7
22,Ewood Park,31154,Blackburn Rovers,8
24,City Ground,30576,Nottingham Forest,9
26,Portman Road,30311,Ipswich Town,10
28,St Andrews,30016,Birmingham City,11
29,The University of Bolton Stadium,28723,Bolton Wanderers,12
30,Carrow Road,27224,Norwich City,13
32,Ashton Gate Stadium,27000,Bristol City,14
34,Craven Cottage,25678,Fulham,15
35,KCOM Stadium,25586,Hull City,16
40,Madejski Stadium,24161,Reading,17
41,Deepdale,23408,Preston North End,18
42,Oakwell,23009,Barnsley,19
48,The Den,20146,Millwall,20
51,Loftus Road,18489,Queens Park Rangers,21
63,Griffin Park,12763,Brentford,22
101,Pirelli Stadium,6912,Burton Albion,23

In [57]:
print ('Largest stadiums in each league:')
stadia[stadia.Rank_in_league == '1'][['League_Tier', 'Stadium', 'Capacity']]

Largest stadiums in each league:

,League_Tier,Stadium,Capacity
2,Premier League,Old Trafford,74994
8,League One,Stadium of Light,48707
9,Championship,Villa Park,42660
25,League Two,Stadium mk,30500
60,Womens Super League 1,Select Security Stadium,13350
62,North West Counties Div 1,Select Security Stadium,13350
73,National League North (6),Edgeley Park,10832
91,National League South (6),Twerton Park,8880
114,Southern Football League Premier Division(7),The Camrose,6000
115,Southern Football League Division One Central (8),Cherrywood Road,6000
120,Isthmian League Premier Division (7),West Leigh Park,5250
121,Womens Premier League South,West Leigh Park,5250